*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 50px;
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(194, 233, 249);
    border-spacing: 0px;
}

.head th{
    font-size: 22px;
    padding: 20px;
}
.card{
    padding: 10px;
    height: 100px;
    text-align: center;
}
.card img{
    width: 130px;
    height: 130px;
    padding: 10px;
    border-radius: 25px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}
.card:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    background-color: white;
}
button{
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    margin: 10px;
    border-radius: 10px;
}

#del{
    background-color: red;
}

button:hover{
    background-color: black; 
    transform: scale(1.1);
    transition: 800ms;
}

.form{
    width: 600px;
    padding: 20px;
    margin: 4% auto;
    background-color: rgb(194, 233, 249);
    border-radius: 25px;
}

h2{
    text-align: center;
    padding: 10px;
}
input{
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    border-radius: 15px;
    width: 100%;
}
#editbtn{
    display: block;
    margin: 10px auto;
}